{% extends "main.html" %}

{% block content %}


<ul style="list-style-type: none; text-align: center;">
        
    <h2>Projects</h2>
    
    {% for project in projects %}
        <li>Title: <a href="{% url 'project' project.id %}">{{ project.title | title }}</a></li>
        <li>Description: {{ project.description }}</li>
        <br>
        <li>UPDATE <a href="{% url 'update-project' project.id %}">"{{ project.title | title }}"</a></li> 
        <li>DELETE <a href="{% url 'delete-project' project.id %}">"{{ project.title | title }}"</a></li> 
        <hr>
    
    {% endfor %}
</ul>

<hr>


{% endblock content %}
